*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.synctex.gz
_region_.tex
auto/
.DS_Store
Script/_region_.prv
Script/analysis.synctex.gz
Script/analysis.prv
Script/dhbw-logo-eps-converted-to.pdf
Sympy-Scipy/_region_.prv
Sympy-Scipy/sympy-scipy.synctex.gz
Sympy-Scipy/sympy-scipy.prv
.dropbox